body{
	background:#D4D4D4;
}

.container{
	width:300px;
	height:460px;
	background:#fff;
	margin:0 auto;
	padding:35px 30px;
	position:relative;
	top:50px;
	border-radius:5px;
}

.container input{
	width:90%;
	margin-bottom:40px;
	height:30px;
}

.container input[type="email"],
.container input[type="password"]{
	border:none;
	border-bottom:2px solid #898989;
	outline:none;
} 

.logo{
	display:block;
	margin:auto;
}

.formularios{
	background:white;
}

form, h1{
	text-align:center;
}
