body{
	background:#D4D4D4;
}

.container{
	width:100%;
	height:400px;
	background:#fff;
	margin:0 auto;
	padding:35px 30px;
	position:relative;
	top:50px;
	border-radius:5px;
}

.logo{
	display:block;
	margin:auto;
	margin-bottom:15px;
}

form, h1{
	text-align:center;
}

h1{
	margin:0;
}

/*propiedades generales input*/
.container input{
	width:90%;
	bottom:10px;
	font-size:15px;
}

.container input[type="email"],
.container input[type="password"]{
	border:none;
	outline:none;
	margin:3px;
} 

.container input[type="submit"]{
	width:100%;
	background:#61B0F6;
	height:38px;
	border:none;
	border-radius:5px;
	font-size:15px;
}

.container input[type="submit"]:hover{
	background:#73BBF9;
	transition:all .3s;
	cursor:pointer;
}

.formularios{
	background:white;
}

@media(min-width:768px){
	.container{
		width:300px;
	}
}

.input-contenedor{
	border-bottom:2px solid #898989;
	margin-bottom:35px;
}

.registro{
	color:#4885F9;
	text-decoration:none;
}