body{
	background:#D4D4D4;
	font-family:sans-serif;
}

.container{
	width:100%;
	height:460px;
	background:#fff;
	margin:0 auto;
	padding:35px 30px;
	position:relative;
	top:50px;
	border-radius:5px;
}

h1{
	margin:0;
}

p{
	color:#898989;
}

.politica{
	font-size:13px;
}

/*propiedades generales input*/
.container input{
	width:98%;
	height:30px;
}

.formularios{
	background:white;
}

.input-contenedor-name{
	width:100%;
	display:flex;
	float:left;
	margin-bottom:15px;
}

.nombre{
	margin-right:5px;
	border:1.5px solid #aaa;
	border-radius:5px;
}

.entrada{
	border:1.5px solid #aaa;
	border-radius:5px;	
}

@media(min-width:768px){
	.container{
		width:390px;
	}
}

.input-contenedor{
	margin-bottom:15px;
}

.container input[type="radio"],
.container input[type="checkbox"]{
	width:auto;
	height:auto;
}

.listaData{
	margin-bottom:15px;
}

.container input[type="submit"]{
	position:relative;
	top:35px;
	background:#61B0F6;
	height:38px;
	border:none;
	border-radius:5px;
	font-size:15px;
}

.container input[type="submit"]:hover{
	background:#73BBF9;
	transition:all .3s;
	cursor:pointer;
}